.header{
    background-color: black;
    color: white;
    margin: 20px;
    position: fixed;
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 90%;
}

.logo {
    display: flex;
}

h1 {
    font-size: 40px;
}

.nav__items {
    display: flex;
    margin-left: auto;
}

.menu__item {
    padding: 20px;
}

@media (max-width: 700px){
    .header {
        display: inline;
    }
    .logo {
        justify-content: center;
    }
    .menu__item {
        padding:5px
    }
    .nav__items{
        display: flex;
        margin-left: 0;
        justify-content: center;
    }

}