.header{
    color: white;
    height: 8%;
    position: fixed;
    font-family: 'Roboto', sans-serif;
}

.logo {
    display: flex;

}

.nav__items {
    display: flex;
    margin-left: auto;
}

.menu__item {
    padding: 20px;
}