.header{
    background-color: black;
    color: white;
    margin: 20px;
    position: fixed;
    display: flex;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.logo {
    display: flex;

}

.nav__items {
    display: flex;
    margin-left: auto;
}

.menu__item {
    padding: 20px;
}